<a href="https://colab.research.google.com/github/jjangpil/CERP/blob/master/analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.6/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.23)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

In [2]:
from pandasql import sqldf

In [3]:
import requests
import pandas as pd
from pysqldf import SQLDF

In [4]:
ip_list = ['http://211.244.244.60:8080/actuator/metrics/http.server.requests', 'http://211.244.244.60:8080/actuator/metrics/http.server.requests', 'http://211.244.244.60:8080/actuator/metrics/http.server.requests']

In [5]:
#@title
data_list = []

for ip in ip_list:
  url = ip
  response = requests.get(url)
  text = response.json()
  data_list.append(text['measurements'])

In [6]:
#@title
cnt = 0
result = []
for statistic in data_list:
  cnt = cnt + 1
  for data in statistic:
    data['server'] = cnt
    result.append(data)

In [7]:
df = pd.DataFrame(result)

In [10]:
pysqldf = lambda q: sqldf(q, globals())

In [12]:
pysqldf('select * from df where df.statistic = "COUNT";')

  statistic  value  server
0     COUNT  166.0       1
1     COUNT  167.0       2
2     COUNT  168.0       3