<a href="https://colab.research.google.com/github/jjangpil/CERP/blob/master/sessjon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pandasql
from pandasql import sqldf
import requests
import pandas as pd

Requirement already satisfied: pandasql in /usr/local/lib/python3.6/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.23)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

In [8]:
ip_list = ['http://211.244.244.60:8080/session', 'http://211.244.244.60:8080/session', 'http://211.244.244.60:8080/session']

In [27]:
#@title
data_list = []
cnt = 0
for ip in ip_list:
  url = ip
  response = requests.get(url)
  text = response.json()
  text['server'] = cnt
  data_list.append(text)
  cnt = cnt + 1

In [28]:
df = pd.DataFrame(data_list)

In [29]:
pysqldf = lambda q: sqldf(q, globals())

In [34]:
pysqldf('select server,count from df')

   server count
0       0     1
1       1     1
2       2     1